
.container{
border-top:1rpx solid #f0f0f0;
padding-top:1.2rem;
line-height: 0.6rem;
}
.all{
	width:94%;
}
.title{
  font-size: 0.8rem;
line-height: 0.8rem;
padding-bottom:0.8rem;
border-bottom:0.1rem solid #f0f0f0;
}
.txt{
line-height: 1.04rem;
padding-top:0.4rem;
margin-bottom:1.2rem;
}
