.container{
  padding-top:0.3rem;
}
.father {
	width:86%;
 margin-bottom:0.28rem;
  height: 2.1rem;
  border: 1px solid #ffa500;
  border-radius: 0.2rem;
  background-color: #fff;
}

.father img {
  width: 1.1rem;
  height: 2rem;
  margin-left: 1.4rem;
  margin-right: 3rem;
}
.father span {
  font-size:0.76rem;
}